<h2>Annonces</h2>

<% @cars.each do |car| %>
    <div class="row">
        <div>
           <h4><%= car.name %></h4>
           <h6><%= car.description %></h6>
           <h6><%= car.model %></h6>
        </div>

        <div>
           <%= link_to "Voir le produit", show_car_path(car), class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
