<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= cl_image_tag @car.photo, height: 300, width: 400, crop: :fill %>
      <h1><%= @car.name %></h1>
      <p><%= @car.description %></p>
    </div>
  </div>
</div>

